* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Raleway", "Open Sans";
}

input,
textarea {
	outline: none;
	resize: none;
}

.app-header__title {
	margin: 10px 20px 0;
}

.app-header__controls {
	display: flex;
	align-items: center;
	margin: 10px 0 0 10px;
}

.search,
.add-new {
	font-size: 14px;
	padding: 5px;
	margin: 8px;
}

.search {
	flex-grow: 1;
	max-width: 300px;
}

.add-new {
	border-radius: 5px;
	cursor: pointer;
	padding: 8px;
	font-weight: bolder;
	background-color: #eee;
	outline: none;
}

.add-new:hover {
	background-color: salmon;
	color: white;
}

.notes-list {
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	margin: 0;
}

.note {
	width: 200px;
	height: 200px;
	margin: 10px;
	background-color: lightyellow;
	border: 1px solid grey;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	position: relative;
	-webkit-box-shadow: 6px 6px 5px 0px rgba(173, 173, 173, 0.74);
	-moz-box-shadow: 6px 6px 5px 0px rgba(173, 173, 173, 0.74);
	box-shadow: 6px 6px 5px 0px rgba(173, 173, 173, 0.74);
}

.note__title,
.note__description {
	width: 100%;
	padding: 8px 14px;
	background: transparent;
}

.note__title {
	font-size: 16px;
	font-weight: bold;
}

.note__description {
	flex-grow: 1;
	font-size: 16px;
}

.note__delete {
	position: absolute;
	top: 0px;
	right: 0px;
	font-size: 20px;
	color: lightgrey;
	padding: 7px;
}

.note__delete:hover {
	color: black;
	cursor: pointer;
}
